/* ==========================================================================
   Sommaire

   1 = Accordion style
   ========================================================================== */

/* ==========================================================================
   1 = Accordion Style
   ========================================================================== */

/*if no js*/

.no-js .panel {
  display: block;
}

.no-js h2{
  padding: 1em;
}

.title-accordion {
  font-size: 1em;
  margin-bottom: 0;
}

.title-accordion a {
  margin-bottom: 0;
  position: relative;
  display: block;
}
  .title-accordion a[aria-expanded="true"] {
    background: #999;
    color: #FFF;
  }
    .title-accordion a[aria-expanded="true"]:after {
      color: #FFF;
    }
  .title-accordion a:after {
    content: "▾";
    position: absolute;
    top: 0.6em;
    right: 1em;
    color: #666;
  }

.panel {
  padding: 1em;
  display: none;
}