/* ==========================================================================
   Sommaire

   1 = Slide to left
   2 = Slide to top
   3 = FadeIn
   4 = FadeOut
   5 = FadeIn left
   ========================================================================== */

.delay {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

/* ==========================================================================
   1 = Slide To left
   ========================================================================== */

@-webkit-keyframes slideInLeft {
  0% {
    
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}

@keyframes slideInLeft {
  0% {
    
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}

.slidetoleft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* ==========================================================================
   Slide to top
   ========================================================================== */

@-webkit-keyframes slideInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }

  100% {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideintop {
  -webkit-animation-name: slideInTop;
  animation-name: slideInTop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}


/* ==========================================================================
   3 = FadeIn
   ========================================================================== */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    &.delay {
      animation-delay: 0.5s;
      -webkit-animation-delay: 0.5s;
    }
}

/* ==========================================================================
   4 = FadeOut
   ========================================================================== */

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  } 
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



/* ==========================================================================
   5 = FadeIn Left
   ========================================================================== */

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}