/* ==========================================================================
   Sommaire

   1 = Menu inline
   2 = Menu block
   3 = Breadcrumb
   4 = Pager
   ========================================================================== */
   

/* ==========================================================================
   1 = Menu inline
   ========================================================================== */

.nav-inline li {
  display: inline-block;
  vertical-align: top;
}  

.nav-inline a {
  color: #666;
  text-decoration: none;
  padding: 0.7em 1em;
}
  .nav-inline a:hover, .nav-inline a:focus {
    background: #EEE;
  }
   

/* ==========================================================================
   2 = Menu block
   ========================================================================== */


/* ==========================================================================
   3 = Breadcrumb
   ========================================================================== */

/* ==========================================================================
   4 = Pager
   ========================================================================== */