
.col {
  letter-spacing: -5px; /*fix bug ff PC*/
}

.col > * {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}

.colMarge > * {
  margin-left: 1%;
}

.colNomarge > * {
  margin-left: 0;
}

.colSidebarLeft > *:first-child {
  width:31%;
  margin-left:0;
}
  .colSidebarLeft > *:first-child + * {
    width:68%;
  }

.colSidebarRight > *:first-child {
  width:68%;
  margin-left:0;
}
  .colSidebarRight > *:first-child + * {
    width:31%;
  }

  .col2 > * {
    display: inline-block;
    width: 49.5%;
  }

    .col2 > *:nth-child(2n+1) {
      margin-left: 0;
    }

  .col3 > * {
    width: 32.65%;
  }

    .col3 > *:nth-child(3n+1) {
      margin-left: 0;
    }

  .col4 > * {
    width: 24.25%;
  }

    .col4 > *:nth-child(4n+1) {
      margin-left: 0;
    }
